@model IEnumerable<WebApplication2.Models.Student>

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <br /><br />
    <h1 class="text-primary" style="font-family:'Segoe UI'; font-weight:bold;">Image Web</h1>
    <br />
    <text class="text-info">The service is </text>
    <text style="font-weight:bold">@ViewBag.Status</text>
    <br />
    <text class="text-info">The amount of images stored: </text>
    <text id="Status" style="font-weight:bold">@ViewBag.ImageCount</text>
    <br /><br />
</div>

<div>
    <h4>Student Info</h4>
    <hr />
    <div>
        <table id="StudentTable" style="padding-left:50px">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.ID)</th>
            </tr>
            @foreach (var student in Model)
             {
                <tr>
                    <td>@Html.DisplayFor(modelItem => student.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => student.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => student.ID)</td>
                </tr>
             }
        </table>
    </div>
</div>

<script>
    $("th").css("padding-left", "20px")
    $("td").css("padding-left", "20px")
</script>
