@model WebApplication2.Models.Photo

@{
    ViewBag.Title = "ConfirmDeleteView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="text-primary" style="font-family:'Segoe UI'; font-weight:bold;">@Model.Name</h1>
    <br /><br />
    <img src="@Url.Content(@Model.ThumbnailPath)" class="img-circle" />
    <br /><br />
    <input type="button" class="btn-success" value="Cancel" onclick="window.location.href='@Url.Action("PhotosView")'" />
    <button class="btn-danger" id="deleteConfirm">Delete</button>
</div>
@Model.ThumbnailPath
<h1>@Model.ThumbnailPath</h1>
<script>
    $("#deleteConfirm").click(function () {
        $.post("@Url.Action("DeletePhoto", new { path = Model.Path})")
        window.location.href = '@Url.Action("PhotosView")';
    });
</script>

