@model IEnumerable<WebApplication2.Models.Photo>

@{
    ViewBag.Title = "PhotosView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="text-center">
    <h1 class="text-primary" style="font-family:'Segoe UI'; font-weight:bold;">Photos in the Output</h1>
</div>
<br /><br />


<div>
    @foreach (var item in Model)
    {
    <div style="border: solid 1px; float:left; margin:6px">
        <img src="@Url.Content(@item.ThumbnailPath)" class="img-circle" />
        <br />
        <h3>@item.Name</h3>
        Created on @item.Month/@item.Year
        <br />
        <input type="button" class="btn-info" value="View" onclick="window.location.href='@Url.Action("ViewPhoto", new { name = item.Name, month = item.Month, year = item.Year, path= item.Path, thumb = item.ThumbnailPath})'" />
        <input type="button" class="btn-danger" value="Delete" onclick="window.location.href='@Url.Action("ConfirmDeleteView", new { name = item.Name, thumb= item.ThumbnailPath, path = item.Path})'" />
    </div>
    }
</div>
<br /><br />